*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Montserrat';
}

:root{
   font-size: 62.5%;
}

#appContainer{
   width: 100%;
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: 60px 1fr 100px;
   min-height: calc(100vh + 100px);
}

.button{
   padding: 0.5rem 1rem;
   font-size: 1.5rem;
}

a{
   color: #fff;
   text-decoration: none;
}