@import 'variables';

.mainHeader{
   @include flexCenter(row);
   width: 100%;
   padding: 0 5%;
   height: 100%;
   color: #fff;
   background-color: #000;
   justify-content: left;
   &__logo{
      font-size: 2.5rem;
      font-weight: 600;
      text-transform: uppercase;
   }
}